<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codo Movies</title>
    <link rel="icon" href="../templates/img/watching-a-movie.ico">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
    <header>
        <nav>
            <div id="logo"><a href="../index.html"><img src="../templates/img/watching-a-movie.png" alt="" width="5%"></a>
            </div>
            <div>
            </div>
            <ul>
                <li><a href="../templates/detail-movie.html">Detalles</a></li>
                <li><a href="../templates/list-movies.html">Listas</a></li>
                <li><a href="../templates/register.html">Registro</a></li>
            </ul>
        </nav>
    </header>

    <main>


    </main>

    <footer>
        <a href="www.facebook.com" target="_blank">Facebook</a>
        <a href="www.instagram.com" target="_blank">Instagram</a>
        <a href="www.twitter.com" target="_blank">Twitter</a>
    </footer>
</body>
</html>